params {
    raw_bam_files_path = ""
    qc_dir = ''
    src_folder = 'src'
    out_dir = ''
    mito_name = ''
    mapQ_thr = 4
    macs_q = 0.05
    macs_shift = -75
    macs_effective_genome_size = 
    macs_extension_size = 150
}

executor {
    name   = 'local'
    cpus   = 16
}

process {
    withLabel: 'default' {
        cpus = 8
    }
}
