params {
    raw_bam_files_path = ["/staging/leuven/stg_00002/lcb/sdewin/Thesis/neural_crest/STEMDiff/ATAC/1.allignment/1-iPSC_S7.bam",
                          "/staging/leuven/stg_00002/lcb/sdewin/Thesis/neural_crest/STEMDiff/ATAC/1.allignment/7-iPSC_S6.bam"]
    qc_dir = '/staging/leuven/stg_00002/lcb/sdewin/PhD/ATAC_pipeline/post_mapping/test/qc'
    src_folder = '/staging/leuven/stg_00002/lcb/sdewin/PhD/ATAC_pipeline/post_mapping/src/'
    out_dir = '/staging/leuven/stg_00002/lcb/sdewin/PhD/ATAC_pipeline/post_mapping/test/out'
    mito_name = 'chrM'
    mapQ_thr = 4
    macs_effective_genome_size = 2913022398
    genome_chr_sizes = '/staging/leuven/stg_00002/lcb/sdewin/Thesis/neural_crest/STEMDiff/ATAC/genome_info.tsv'
    TSS_bed = '/staging/leuven/stg_00002/lcb/sdewin/files/GENCODEv32_txtStartStop.bed'
}

executor {
    name   = 'local'
    cpus   = 16
}

process {
    withLabel: 'default' {
        cpus = 8
    }
}
